.dialog-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content:center;
  align-items: center;
}

.dialog {
  width: 500px;
  background-color: white;
  display: flex;
  align-items:  center;
}

.dialog-form {
  width: 100%;
  margin-bottom: 0;
  padding: 20px;
}

.dialog-form > * {
  display: block;
}

.username-label {
  text-align: left;
  font-size: 16px;
}

.username-input {
  width: 100%;
}

.submit-btn {
  width: 100%;
}
